<h1><%= t('.title') %></h1>
<% if @task.errors.any? %>
<div id="error_explanation alert alert-danger">
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= render 'form', task: @task, submit_task_id: 'update-task' %>  
<%= link_to t('common.back'), tasks_path, id:"back" %>